@use '../variables' as var;

.heritage {
  margin-top: -3rem;

  @media (min-width: 590px) {
    margin-top: -5rem;
  }

  @media (min-width: 768px) {
    margin-top: -45rem;
  }
  @media (min-width: 1020px) {
    margin-top: -28rem;
  }

  .container {
    @media (min-width: 1021px) {
      display: grid;
      grid-template-columns: 5fr 6fr;
      grid-gap: 5%;
    }
  }

  &__content {
    &::before {
      content: '';
      display: block;
      height: 1px;
      width: 10rem;
      background: var.$color-light;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  &__img {
    img {
      object-fit: cover;
      height: 100%;
    }
  }

  &__heading {
    max-width: 20rem;
    padding: 5rem 0 5rem 0;

    @media (min-width: 1021px) {
    }
  }

  &__paragraph {
    padding-bottom: 2rem;
  }
}
