@use '../variables' as var;

.leaders {
  margin-top: 7rem;

  @media (min-width: 450px) {
    margin-top: 16rem;
  }

  .container {
    @media (min-width: 1021px) {
      display: grid;
      grid-template-columns: 3fr 6fr;
      grid-gap: 2rem;
    }
  }

  &__heading {
    max-width: 20rem;
    padding-top: 5rem;

    @media (max-width: 1020px) {
      padding-bottom: 5rem;
      padding-top: 0;
    }

    &::before {
      content: '';
      display: block;
      height: 1px;
      width: 10rem;
      background: var.$color-light;
      transform: translateY(-4rem);
      transform: translateY(-5rem);

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  &-container {
    display: grid;
    grid-gap: 3rem;
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.leader {
  &__content {
    padding-top: 2rem;
  }

  &__name {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
  }

  &__designation {
    padding: 0.5rem 0;
    font-size: 1.4rem;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 6.5rem;

    img {
      width: 2.5rem;
    }
  }
}
