@use '../variables' as var;

.contact-form {
  margin-top: 10rem;

  .container {
    @media (min-width: 1160px) {
      grid-template-columns: 1fr 4fr;
      display: grid;
      grid-gap: 15rem;
    }

    .heading-lg {
      padding-bottom: 3rem;
      @media (max-width: 400px) {
        font-size: 3rem;
      }
      @media (min-width: 650px) {
        font-size: 4.7rem;
        padding-bottom: 4rem;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__input {
    outline: none;
    border: none;
    border-bottom: 1px solid var.$color-text;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 1rem;
    margin-bottom: 4rem;
    color: var.$color-dark;
    font-weight: 500;

    &:nth-child(3) {
      margin-bottom: 0;
    }

    &::placeholder {
      font-weight: 500;
      color: var.$color-light;
    }
  }

  &__btn,
  .btn-primary {
    width: 6rem;
    height: 6rem;
    outline: none;
    border: none;
    margin-left: auto;

    img {
      width: 2.3rem;
      margin: 0;
    }
  }
}
