@use '../variables' as var;

.hero {
  @media (max-width: 768px) {
    margin-top: 0;
  }

  .container {
    position: relative;

    @media (max-width: 381px) {
      padding: 0;
    }
  }

  &__img {
    position: relative;
    min-height: 20rem;

    @media (min-width: 768px) {
      height: 73rem;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(rgb(0, 0, 0), 0.3);
      height: 100%;
      width: 100%;
    }

    img {
      object-fit: cover;
      height: 100%;
    }
    @media (min-width: 1021px) {
      width: 63rem;
    }
  }

  &__content {
    background: var.$color-white;
    padding: 4rem 2rem 0 1rem;
    transform: translate(-1rem, -20vw);
    max-width: 40rem;

    @media (max-width: 400px) {
      width: 100%;
      transform: translate(0, -20vw);
      padding: 2rem;
    }

    @media (min-width: 768px) {
      max-width: 65.5rem;
      padding: 10rem 5rem 0 7rem;
      transform: translate(15rem, -50rem);
      height: 60rem;
    }

    @media (min-width: 1021px) {
      transform: translate(25rem, -45rem);
      height: 50rem;
      padding: 10rem 0 0 10rem;
      max-width: 60rem;
    }

    &::before {
      content: '';
      display: block;
      height: 1px;
      width: 10rem;
      background: var.$color-light;
      transform: translateY(-4rem);
      transform: translateY(-5rem);

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  &__heading--lg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: 1021px) {
      left: 40%;
      transform: translateX(0);
    }
  }

  &__text {
    padding-top: 5rem;

    @media (max-width: 768px) {
      padding-top: 2rem;
    }
  }
}
