@use '../variables' as var;

.big-ideas {
  margin-top: 10rem;
  height: 35rem;
  background-image: linear-gradient(
      rgba(var.$color-dark, 0.6),
      rgba(var.$color-dark, 0.6)
    ),
    url('../../assets/home/mobile/image-small-team.jpg');

  @media (min-width: 768px) {
    height: 50rem;
    margin-top: 10rem;
    background: none;
  }
  @media (min-width: 1020px) {
    margin-top: 20rem;
  }

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 300px) {
      padding-left: 10%;
    }
    @media (min-width: 768px) {
      margin: 0 10rem;
      background-image: linear-gradient(
          rgba(var.$color-dark, 0.6),
          rgba(var.$color-dark, 0.6)
        ),
        url('../../assets/home/desktop/image-small-team.jpg');
    }
  }

  &__content {
    .heading-lg {
      color: var.$color-white;
      font-size: 3.5rem;
      padding-bottom: 3rem;

      @media (min-width: 375px) {
        padding-bottom: 5rem;
        font-size: 4.3rem;
      }
      @media (min-width: 465px) {
        max-width: 35rem;
      }
      @media (min-width: 571px) {
        max-width: 40rem;
        font-size: 5rem;
      }
      @media (min-width: 1170px) {
        max-width: 55rem;
        font-size: 6.5rem;
      }
    }

    .btn-primary {
      @media (max-width: 300px) {
        width: 20rem;
      }
    }
  }
}
