@use '../variables' as var;

.featured {
  margin-top: 17rem;

  &__header {
    display: flex;
    justify-content: space-between;

    @media (min-width: 768px) {
      padding-bottom: 6rem;
    }

    .heading-lg {
      font-size: 6rem;
    }
  }

  &__btn-primary--bottom {
    width: 100% !important;
    margin-top: 3rem;
  }

  &__projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;

    @media (max-width: 767px) {
      margin-top: 5rem;
    }
    @media (max-width: 1020px) {
      grid-template-columns: 1fr;
    }
  }

  &-project {
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(transparent, rgba(var.$color-dark, 0.5));
    }

    &__content {
      color: var.$color-white;
      padding: 5rem 3rem;
      position: absolute;
      bottom: 0;
      z-index: 1;
    }

    &__number {
      font-size: 25rem;
      text-decoration: none;
      font-weight: 500;
      position: absolute;
      top: 50%;
      right: 10%;
      transform: translateY(-50%);
      color: rgba(var.$color-veryLight, 0.5);
      z-index: 1;
    }

    &__link {
      margin-top: 0.5rem;
      color: rgba(var.$color-white, 0.7);
      font-size: 1.4rem;
    }
  }
}
