@use '../variables' as var;

.portfolio-gallery {
  color: var.$color-white;

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;

    @media (max-width: 767px) {
      margin-top: 5rem;
    }
    @media (max-width: 1020px) {
      grid-template-columns: 1fr;
    }
  }
}

.gallery-item {
  position: relative;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    &::after {
      background: rgba(var.$color-veryLight, 0.1);
    }
    .gallery-item__img {
      transform: scale(1.15);
    }
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(var.$color-dark, 0.25);
    z-index: 1;
    transition: background 0.3s;
  }

  &__img {
    transition: transform 0.4s;
  }

  &__content {
    position: absolute;
    bottom: 4rem;
    left: 4rem;
    z-index: 2;

    @media (max-width: 768px) {
      bottom: 2rem;
      left: 2rem;
    }
  }

  &__title {
    font-size: 1.9rem;
    @media (max-width: 500px) {
      font-size: 1.6rem;
    }
  }
  &__date {
    font-size: 1.5rem;
    font-weight: 500;
    color: var.$color-light;
    @media (max-width: 500px) {
      font-size: 1.2rem;
    }
  }
}
